@keyframes float-slow-b4bde0c7{0%,to{transform:translateY(0) translate(0)}50%{transform:translateY(-30px) translate(-20px)}}.animate-float-slow[data-v-b4bde0c7]{animation:float-slow-b4bde0c7 12s ease-in-out infinite}
